* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug main,
.debug header,
.debug footer {
  border: 1px solid blue;
  height: 200px;
}

html {
  font-size: 100%;
  font-family: 'Monserrat', sans-serif;
}

body {
  max-width: 1200px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.width-20 {
  width: 20%;
}

.container {
  width: 90%;
  margin: 0 600px;
  display: block;
 
}

#header {  
  height: 200px;
  margin-bottom: 20px;
  background-color: white;
}

.img-logo {
  margin-top: 10px;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 75px;
}

.jumbotron {
  height: 550px;
  margin-bottom: 80px;
  background-color:white;
  background-image: url(../img/banner.jpg); 
  border-radius: 15px;
}

.h1-left {
  color: grey;
  margin: 50px;
  margin-left: 25px;
  position: static;
    
}

.text-left {
  color: grey;
  position:static;
  margin: 50px;
  margin-left: 25px;
  margin-top: 400px;
  
  
}

.main-content {
  height: 520px;
  padding: 5px;
  margin-bottom: 30px;
  background-color: white;
}
.main-content .main-content-header {
  height: 70px;
  margin-bottom: 30px;
  background-color: white;
}

.main-content .main-content-main {
  padding-bottom: 50px;
}


.col {
  float: left;
}
.col-left,
.col-right {
  height: 350px;
  width: 20%;
  background-color: white;
}

.img-1 {
    height: 200px;
}

.banner-2 {
  height: 270px;
}

.img-3 {
  height: 150px;
}


.col-center {
  height: 350px;
  width: calc(50% - 60px);
  margin: 0 30px;
  background-color: white;
}

footer {
  height: 50px;
  background-color: white;
}


.redheart {
  color:#ff0000; 
  font-size:14px;
}

.foot-class {
  margin-left: 400px;
}